{% extends 'base.html' %}
{% block content %}
<div class="custom-control custom-checkbox">
    <div id="checkboxqq" >

{#        <tr v-for="cc in checkboxdata"><td>#}
{#            <input type="checkbox" class="custom-control-input" name="chename"  v-bind:value="cc.value" v-html="cc.value" v-model="cc.checked">#}
{#               <label class="custom-control-label" v-html="cc.value"> </label>#}
{#        </td></tr>#}

                <template v-for="cc in checkboxdata">
                <input class="form-check-input" type="checkbox"  v-model="cc.checked"  name="chename" v-bind:value="cc.value" v-html="cc.value">
                <label class="form-check-label" v-html="cc.value"> </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                    </template>



    </div>
</div>
{% endblock %}
{% block js %}
    <script>
      var b = new Vue({
          el:'#checkboxqq',
          data:{
              checkboxdata:[{checked:true,'value':'update'},{checked:true,'value':'reboot'}]
              {#checkboxdata:[{checked:true,value:'update'},{checked:true,value:'reboot'}]#}
          }
      })
    </script>



{% endblock %}