{% extends 'base.html' %}
{% block content %}
<div class="custom-control custom-checkbox">
    <div id="checkboxqq" >

{#        <tr v-for="cc in checkboxdata"><td>#}
{#            <input type="checkbox" class="custom-control-input" name="chename"  v-bind:value="cc.value" v-html="cc.value" v-model="cc.checked">#}
{#               <label class="custom-control-label" v-html="cc.value"> </label>#}
{#        </td></tr>#}
        <h1 class="mt-5">初始化项目</h1>
    <p class="lead">后端执行操作</p>
      <p class="text-primary">1.将项目中的Pro software这个参数补齐例如 (jdk6tomcat6 jdk6tomcat7 jdk7tomcat7 jdk8tomcat7 jdk8tomcat8 jdk6jboss jar(jar包))</p>
      <p class="text-primary">2.jdk版本 tomcat版本</p>
      <p class="text-primary">3.不分pc app,服务器初始化好后 自己下hosts app的conf地址</p>
            <form action="/cmdb/initser/" method="POST">
                {% csrf_token %}
                <div class="form-check">

                <template v-for="cc in jdkdata">

                <label class="form-check-label" v-html="cc.value"> </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input class="form-check-input" type="checkbox"  v-model="cc.checked"  name="chename" v-bind:value="cc.value" v-html="cc.value">
                </template>
                    </div>
                <div class="form-check">

                <template v-for="cc in tomcatdata">

                <label class="form-check-label" v-html="cc.value"> </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input class="form-check-input" type="checkbox"  v-model="cc.checked"  name="chename" v-bind:value="cc.value" v-html="cc.value">
                </template>
                    </div>
                <br>
                <div class="form-check">
                <p >根据项目克隆</p>
                <template v-for="cc in toolsdata">

                <label class="form-check-label" v-html="cc.value"> </label>&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input class="form-check-input" type="checkbox"  v-model="cc.checked"  name="chename" v-bind:value="cc.value" v-html="cc.value">

                </template>
                    </div>

                <br>
                <input class="form-control form-control-lg" type="text" name="address" placeholder="IP地址">
                <br>
                <button type="submit" class="btn btn-primary mb-2">提交</button>
                </form>



    </div>
</div>
{% endblock %}
{% block js %}
    <script>
      var b = new Vue({
          el:'#checkboxqq',
          data:{
              jdkdata:[{checked:true,'value':'jdk6'},{checked:true,'value':'jdk7'},{checked:true,'value':'jdk8'}],
              tomcatdata:[{checked:true,'value':'tomcat6'},{checked:true,'value':'tomcat7'},{checked:true,'value':'tomcat8'}],
              toolsdata:[{checked:true,'value':'onlineschool'},{checked:true,'value':'exam'},{checked:true,'value':'studentexam'},{checked:true,'value':'teacherexam'}],
              content:null
          },

          methods:{
              subinit:function () {
                  console.log(this.content)
              }
          }
      })
    </script>



{% endblock %}